# Archivos de configuración y metadatos de Visual Studio
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.suo
*.sln.docstates

# Archivos de build y temporales
bin/
obj/

# Archivos de paquetes
*.nupkg

# Archivos de bases de datos locales
*.db
*.sqlite

# Archivos de configuración local
*.config

# Archivos de logs y cachés
*.log
*.vspscc

# Archivos específicos de macOS
.DS_Store

# Archivos específicos de Windows
Thumbs.db
ehthumbs.db
